/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

*, *:before, *:after{
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
           box-sizing: border-box;
}

@font-face {

 font-family: "Roboto";
  src: url(../fonts/Roboto);

}

body {
    background-color: #F4F4F8;
    font-family: Roboto, helvetica, Arial, sans-serif;
    font-size: 1em;
}

.topbar {
<<<<<<< HEAD
    background-color: #0e1a42;
    width: 100%;
    overflow: hidden;

=======
    background-color: #2AB7CA;
    width: 100%;
    overflow: hidden;
>>>>>>> 525fac52526fae24e0edf2127bdb954e8aeb6b7b
}

.logo img {
    height:3em;
    width: auto;
    padding: .5em;
}

.mainmenu li {
    font-size: 1em;
<<<<<<< HEAD
    font-weight: 100;
    padding: .2em 1em;

    text-align: right;
    text-decoration: none;
    line-height: 1.2em;
    color: white;
=======
    font-weight: thin;
    padding: 0 1em;
    text-align: right;
    text-decoration: none;
    line-height: 1.2em;
>>>>>>> 525fac52526fae24e0edf2127bdb954e8aeb6b7b
}

.mainmenu li a {
    text-decoration: none;
<<<<<<< HEAD
    color: white;

=======
    color: #353535;  
>>>>>>> 525fac52526fae24e0edf2127bdb954e8aeb6b7b
}

.main {
    margin-top:4em;
    text-align: center;

}

h1 {
    font-size: 3em;
    padding-bottom: .25em;
}

.mainimage img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:380px;
    padding-bottom: 1em;
}

h2 {
    font-size: 2em;
    padding-bottom: 1em;
}

<<<<<<< HEAD
.watchreveal {

    padding-top: 1em;
}

=======
>>>>>>> 525fac52526fae24e0edf2127bdb954e8aeb6b7b
.modulecontent {
    margin-top: 1em;
    background-color: #E6E6EA;
    padding: 1em 0;
    width:100%;
}

.modulecont figure img  {       
    width: 80px;
    padding-bottom: .5em;
}

.modulecont {
overflow: hidden;

}
.minline {
    /*display: inline-block;*/
    float:  left;
    padding: 0 1em;
    width:33.333333333%;
}

.wishmode {
    background-color:#F4F4F8;
    padding: .5em;
}

.wishmode figure>img {
    width: 200px;
}

.kit {
    background-color: #E6E6EA;
    padding: 1em;
}

.kit figure>img {
    width:300px;
}

h5 {
    font-weight: bold;
}

.services {
    background-color: #F4F4F8;
<<<<<<< HEAD
    padding: 1em;

}
/*
section {
    margin-right: auto;
    margin-left: auto;
}*/
=======
    padding: 1em;  
}
>>>>>>> 525fac52526fae24e0edf2127bdb954e8aeb6b7b

.col {

    margin: 1em;
<<<<<<< HEAD

=======
>>>>>>> 525fac52526fae24e0edf2127bdb954e8aeb6b7b
}

.s1 {
    background-color: #FAFAFA;
    text-align: center;
    padding: 1em;
    box-shadow: 1px 1px 5px #E0E0E0; 
}

.services figure>img {
     width: 80px;
<<<<<<< HEAD
     padding-bottom: .5em;
=======
>>>>>>> 525fac52526fae24e0edf2127bdb954e8aeb6b7b
}

fieldset {
    background-color: #607D8B;
    padding: 1em;
}

label, input, textarea {

    display: block;
    width: 100%;
    margin: 1em 0;
    padding: .6em;
}

input[type="text"], [type="textarea"] {
    background-color: #EFEFEF;
    border: none;
    border-radius: 5px;
}

button {
    margin-top: 1em;
    padding: .8em;
    background-color: #FFD54F;
    border: none;
    border-radius: 5px;
    width: 30%;
}


.social {
    background-color: #13293d;
    color: white;
    overflow: hidden;
}

.h3social {

    padding: 1em;

}

.socialmedia {
    overflow: hidden;
    /*margin:.5em;*/
 }


.social figure>img {
    width: 50px;

}

.h3social {

    padding-bottom: 1em;
}

.shareinline>figcaption {
    padding-top: 1em;
}

 

.shareinline  {
    float: left;
    margin: .5em;
    text-align: center;
 }

 .legal {
    font-size: .4em;
    font-weight: thin;
}

/*.copyright {

    margin: 1em;
}
*/


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}